@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl xl:text-4xl mb-10 md:mb-14 xl:mb-20 text-center;
  }

  h2 {
    @apply text-xl md:text-2xl xl:text-3xl mb-8 md:mb-12 xl:mb-16 text-center;
  }
}

@layer components {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section {
    @apply py-10 md:py-14 xl:py-20;
  }

  .primaryButton {
    @apply w-full rounded-md bg-ui_accent px-4 py-3 text-white hocus:bg-ui_accent_dark transition-all text-lg md:text-xl xl:text-2xl;
  }
}

.single-select__control {
  @apply border-solid !border-[1px] !border-ui_accent !bg-ui_light !py-1 !px-4 !text-ui_dark rounded-md;
}

.single-select__value-container {
  @apply !px-0;
}

.single-select__single-value {
  @apply !text-ui_dark;
}

.react-multi-select__control {
  @apply border-solid !border-[1px] !border-ui_accent !bg-ui_light !py-1 !px-4 !text-ui_dark rounded-md;
}

/* Filters */

.tag-filter-select__control {
  @apply !bg-ui_lighter h-11 max-md:w-[247px] hover:cursor-pointer;
}
.tag-filter-select__control--is-focused,
.order-filter__control--is-focused,
.group-filter__control--is-focused {
  @apply !border-ui_accent !shadow-md;
}
.tag-filter-select__menu,
.order-filter__menu,
.group-filter__menu {
  @apply bg-ui_accent;
}
.tag-filter-select__option--is-selected,
.order-filter__option--is-selected,
.group-filter__option--is-selected {
  @apply !bg-ui_accent;
}

/* Week picker */
.datePicker {
  @apply w-max;
}
.datePicker .rdp-day {
  @apply text-ui_accent_dark;
}
.datePicker .rdp-selected {
  @apply bg-ui_accent;
}
.datePicker .rdp-today {
  @apply !font-bold;
}
.datePicker .rdp-today .rdp-day_button {
  @apply !text-ui_accent_dark !bg-ui_light !font-bold;
}
.datePicker .rdp-selected.rdp-today .rdp-day_button {
  @apply !text-white !bg-ui_accent_dark;
}
.datePicker .rdp-day_button {
  @apply !border-none font-medium;
}
.datePicker .rdp-selected .rdp-day_button {
  @apply !bg-ui_accent !text-ui_light;
}
.datePicker .rdp-range_start {
  @apply !bg-none !bg-ui_accent !rounded-l-full;
}
.datePicker .rdp-range_end {
  @apply !bg-none !bg-ui_accent !rounded-r-full;
}
.datePicker .rdp-range_end .rdp-day_button,
.datePicker .rdp-range_start .rdp-day_button {
  @apply bg-ui_accent;
}
.datePicker .rdp-nav .rdp-chevron {
  @apply fill-ui_accent;
}
.rdp-disabled .rdp-day_button {
  @apply text-ui_dark_grey;
}
.datePicker .rdp-outside {
  @apply opacity-100;
}
.datePicker .rdp-range_end,
.datePicker .rdp-range_start {
  @apply !bg-none;
}
